.top{
    background-color:lightgray;
    color:white;
    font-family:arial;
    width:520px;
    height:50px;
    padding-bottom:15px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    margin-left:100px;
    border:2px solid lightgray;
}
.content{
    margin-left:100px;
    padding:10px;
    width:500px;
    border-left:2px solid lightgray;
    border-right:2px solid lightgray;
}
.bottom{
    background-color:lightgray;
    margin-left:100px;
    height:50px;
    border:2px solid lightgray;
    padding-top:15px;
    width:520px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
select{
    margin-left:30px;
    margin-top: 16px;
    margin-bottom:16px;
    border: 0px;
    border-radius:4px;
    background-color:mediumaquamarine;
    color:white;
    font-size:15px;
    width:420px;
    height:30px;
    padding-left:10px;
}
option{
    color: black;
    background: white;
}
input, textarea{

    border: 2px solid lightgray;
}
.items{
    margin-left:30px;
    margin-top:16px;
    margin-bottom:16px;
    border-radius:6px;
    height:30px;
    width:420px;
}
